
<table>
	<tr>
		<th>ニックネーム</th>
		<td><%= form.text_field :name %></td>
	</tr>
	<tr>
		<th>国籍</th>
		<td><%= form.text_field :country %></td>
	</tr>
	<tr>
		<th>職業</th>
		<td><%= form.text_field :job %></td>
</td>
	</tr>


</table>
